body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content {
  /*padding-top: 64px;*/
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.compact-list {
  padding: 40px;
}

.spin {
  -webkit-animation:spin 1.2s linear infinite;
  -moz-animation:spin 1.2s linear infinite;
  animation:spin 1.2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.blink {
  -webkit-animation: blink 2s ease-out infinite;
  -moz-animation: blink 2s ease-out infinite;
  animation: blink 2s ease-out infinite;
}
@-moz-keyframes blink {
  0% { opacity: 0; filter: alpha(opacity=0); }
  40% { opacity: 0.8; filter: alpha(opacity=80); }
  100% { opacity: 1; filter: alpha(opacity=100); }
}
@-webkit-keyframes blink {
  0% { opacity: 0; filter: alpha(opacity=0); }
  40% { opacity: 0.8; filter: alpha(opacity=80); }
  100% { opacity: 1; filter: alpha(opacity=100); }
}
@keyframes blink {
  0% { opacity: 0; filter: alpha(opacity=0); }
  40% { opacity: 0.8; filter: alpha(opacity=80); }
  100% { opacity: 1; filter: alpha(opacity=100); }
}
