body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content {
  /*padding-top: 64px;*/
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.compact-list {
  padding: 40px;
}
